*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
ul.menu-list{
    display: flex;
    justify-content: center;
}

.menu-list li{
    width: 70px;
    padding: 15px 0;
}
.menu-list a{
    text-decoration: none;
    color: #000;
}
/* MAIN */
main{
    background-color: blueviolet;
}
.section-wrapper{
    padding: 0 10%;
}
ul.pasta-list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
}

.pasta-list li{
    width: calc(100% / 3);
}


img{
    width: 100%;
}