// HEADER
.header-top{
    display: flex;
    justify-content: center;
    & .logo-wrapper{
        margin: 40px 0;
        & img{
            width: 150px;
        }
    }
}
.header-bottom{
    & .header-nav{
        display: flex;
        justify-content: center;
        &-list{
            display: flex;
            list-style: none;
            padding: 0;
            & a{
                padding: 15px 10px;
                text-decoration: none;
                color: #000;
                font-weight: bold;
                &.active{
                    background-color:$lightBlue;
                }
            }
        }
    }
}