// HEADER
.header-top{
    display: flex;
    justify-content: center;
}
.header-bottom{
    & .header-nav{
        display: flex;
        justify-content: center;
        &-list{
            display: flex;
            list-style: none;
            & a{
                text-decoration: none;
            }
        }
    }
}