// SINGLE-PRODUCT
.product-wrapper{
    background-color: $azul;
}
.product-info-container{
    width: 80%;
    margin: auto;
    & h1{
        padding: 40px 0;
        text-align: center;
        color: $darkBlue;
        font-size: 24px;
    }
    & img{
        display: block;
        width: 100%;
    }
    & p{
        margin: auto;
        padding-bottom: 30px;
        text-align: justify;
        color: $darkBlue;
    }
}